*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #FF6D60;
    background-repeat: no-repeat;
    padding: 30px;
    padding-bottom: 35px;
}

#contenedor {

    background-color: rgb(239, 217, 223);
    color: #0f0e0e;
    background: linear-gradient(#A6D0DD, #A6D0DD);
    padding-left: 35px;
    padding-right: 35px;
    padding: 23px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-repeat: no-repeat;
}


nav {
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 850;
    font-size: 18px;
    padding: auto;
}

.nav-link:hover {
    font-weight: 850;
    text-shadow: .4px .4px #000000;
    color: blue;
    background: linear-gradient(
        to right,
        hsl(182, 93%, 47%),
        hsl(182, 86%, 36%)
    );
    border-left: 20px;
    scale: 1.1;
}

.item{
    padding: 15px;
    border: solid 1px #0931e2;
    border-radius: 25px;
    margin-bottom: 25px;
}

div h1{
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    line-height: 1.2em;
    color: black;
}

div h1:hover {
    color: rgb(218, 75, 75);
    translate: 2rem;
    text-shadow: 3px 3px 2px rgb(94, 136, 250);
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    background-color: rgb(240, 94, 89);
    background-size: 150% 110%;
    box-shadow: 3px 3px 2px rgb(8, 8, 8);
    background-repeat: no-repeat;
    background-position-x: 170%;
    width: 120px;
    font-size: 15px;
    border-radius: 35px;
    font-weight: 620;
}

footer{
    text-align: center;
    padding: 5px;
}

img{
    width: 250px;
    height: auto;
    object-fit: cover;
}
